<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Canglong.HSRPizzaHelper</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hsrhelper</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>ophelper</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
		<string>GIStyleRectangularWidgetConfigurationIntent</string>
		<string>GIStyleSquareWidgetConfigurationIntent</string>
		<string>LargeSquareWidgetConfigurationIntent</string>
		<string>LockscreenWidgetConfigurationIntent</string>
		<string>RectangularWidgetConfigurationIntent</string>
		<string>SmallSquareWidgetConfigurationIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
