<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>⚠️If you don&apos;t see the &quot;Preferred language&quot; option here</string>
			<key>FooterText</key>
			<string>Please go to 📱 [Settings] -&gt; [General] -&gt; [Language &amp; Region] and add the language you wish to set as the second language. </string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>🌐 Supported Languages</string>
			<key>FooterText</key>
			<string>简体中文, 日本語, English, 繁體中文, 繁體中文（香港）, Français, Русский, Tiếng Việt</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>​⚠️If you don&apos;t see the &quot;Preferred language&quot; option here</string>
			<key>FooterText</key>
			<string>​Please go to 📱 [Settings] -&gt; [General] -&gt; [Language &amp; Region] and add the language you wish to set as the second language. </string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>​🌐 Supported Languages</string>
			<key>FooterText</key>
			<string>​简体中文, 日本語, English, 繁體中文, 繁體中文（香港）, Français, Русский, Tiếng Việt</string>
		</dict>
	</array>
</dict>
</plist>
